<form action="/logout" method="POST">
  <div style="height: 5%;">
    <button
      type="submit"
      style="position:absolute; right:20px; top:20px"
      class="btn btn-outline-secondary btn-sm"
    >登出</button>
  </div>
</form>